/* Leftbar */
.menu_left {
    width: 8.15vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  
  .copyright{
    transform: rotate(270deg);
    color: white;
    position:fixed;
    left: -10px;
    bottom: 5vw;
    margin: 0;
    font-size: 12px;
  }


    @media (min-height: 830px) {
    .menu_left {
      height: 100vh;
  }
  
  }

  @media (max-height: 685px) {
    .menu_left {
      height:unset;
  }
  
  }