.menu_top{
    display: flex;
    background-color: black;
  }
  
  .logo {
    margin-right: 120px;
  }
  
  .navigation ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    height: 100%;
    width: 60vw;
    padding-left: 50px;
    padding: 0;
  }
  
  .navigation ul li a {
    font-weight: normal;
    font-size: 1.5vw;
    color: white;
    text-decoration: none;
  }
  
  .image_logo {
    width: 11vw;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 5px;
  }