.myLine .recharts-surface {
    border-radius: 6px;
    margin-left: 15px;
}

.myLine text {
    width: 2px;
}

.textLine {
    position: absolute;
    bottom: 155px;
    left: 40px;
    width: 150px;
    font-size: 12px;
    color: #FF7E7E;
}


.myLine {
    position: relative
}

@media (max-width: 1137px) {
    .myLine .recharts-surface {
        width: 150px;
        height: 150px;
    }

    .myLine {
        width: 150px;
        height:150px;
     }

     .textLine {

        bottom: 110px;

    }
     

}

@media (max-height: 7000px) {
    .copyright {

        font-size: 10px;
    }
     

}
