.myLine .recharts-surface{
    border-radius: 6px;
    margin-left: 15px;
}

.myLine text{
    width: 2px;
}


    .textLine {
        position: absolute;
        bottom: 155px;
        left: 40px;
        width: 150px;
        font-size: 12px;
        color: #FF7E7E;
    }


.myLine{
    position:relative
}