.myPie .recharts-surface{
    background-color: #FBFBFB;
    border-radius: 6px;
}

.myRadar .recharts-surface{
    border-radius: 6px;
}

@media (max-width: 1137px) {

    .myPie .recharts-surface{
        width:150px;
        height:150px;
    }

    .myPie {
       width: 150px;
       height:150px;
    }
    
  
  }
  