.Background-icon{
    background-color: white;
    width: 3.8vw;
    height: 3.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.checkIcon_total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 19.2vw;
    position: fixed;
    left: 20px;

    
    /* top: 27%; */
    top: 30%;
}


.check_icon {
    width: 2vw;
    height: 2vw;
}