/* TopBar**************************************** */
.menu_top{
  display: flex;
  background-color: black;
}

.navigation{
  width: 60%;
margin-left: 70px;
}

.navigation ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  height: 100%;
  
}

.navigation ul li a {
  font-weight: normal;
  font-size: 1.5vw;
  margin-left: 20px;
  color: white;
  text-decoration : none;

}

.image_logo {
  /* width: 30%; */
  width: 11vw;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}

/* Leftbar */
.menu_left {
  width: 7vw;
  height: 10vw;
  background-color: black;
}

/* Profil */
.salutation{
  
}