body{
  font-family: 'Roboto', sans-serif;
}

/* TopBar**************************************** */
.menu_top{
  display: flex;
  background-color: black;
}

.logo {
  margin-right: 120px;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  height: 100%;
  width: 60vw;
  padding-left: 50px;
  padding: 0;
}

.navigation ul li a {
  font-weight: normal;
  font-size: 1.5vw;
  color: white;
  text-decoration: none;
}

.image_logo {
  width: 11vw;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}

@media (min-height: 1800px) {
  .menu_left {
    height: 100vh;
}

}



/* Leftbar */
.menu_left {
  width: 7vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100vh; */
}

.copyright{
  transform: rotate(270deg);
  color: white;
  position:fixed;
  left: -10px;
  /* top: 69%; */

  /* bottom: 30%; */
  /* bottom: 22%; */
  bottom: 5vw;


  /* bottom: 13vw; */
  margin: 0;
  font-size: 12px;
}


main{
  display: flex;
  /* height: 100%; */
}

/* Profil */
.dashbord{
/* margin: 45px; */
margin: 3vw;
flex-grow: 1;
}

.salutation{
  
}

.nom{
  display: flex;
  font-size: 40px;
  font-weight: bold;
}

.nom p{
  margin: 0;
}

.nom p:nth-child(1) {
  margin-right: 18px;
  padding-left: 51px;
}

.nom p:nth-child(2) {
color: red;
}

.completion{
  margin-top: 24px;
  margin-left: 50px;
}

/* graph */
svg.recharts-surface {
  /* background-color: #FBFBFB; */
}
/*.recharts-tooltip-wrapper {
  font-size: 10px;
  padding: 10px;
  background-color: red;
  border: 0;
  color: white;
}*/

.custom-tooltip{
  /* background-color: red; */
}