body{
  font-family: 'Roboto', sans-serif;
}










main{
  display: flex;
  /* height: 100%; */
}

/* Profil */
.dashbord{
/* margin: 45px; */
margin: 3vw;
flex-grow: 1;
}



/* graph */

/*.recharts-tooltip-wrapper {
  font-size: 10px;
  padding: 10px;
  background-color: red;
  border: 0;
  color: white;
}*/

.custom-tooltip{
  /* background-color: red; */
}